.headerContainer {
    display: flex;
    text-align: center;
    width: 100%;
    height: 138px;
}
.containerImg {
    margin-right: 75px;
    align-content: center;
    display: flex;
    margin-left: 151px;
    align-items: center;
    width: 390px;
}
.navBarLogo {
    
    /*padding-top: 61px;
    margin-left: 212px;
    margin-right: 58px;
    padding-bottom: 35px;*/
    width: 278px;
    height: auto;
    margin: auto;
    
}
